@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.poppins {
    font-family: 'Poppins', sans-serif;
}

.tech-mono {
    font-family: "Share Tech Mono", monospace;
}

.section-title {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold poppins text-violet-400 hover:text-violet-300;
}